<launch>

    <!-- =====================================================
         COMMON COSTMAP PARAMETERS
         ===================================================== -->

    <rosparam
        file="$(find amr_navigation)/config/costmap_common.yaml"
        command="load"
        ns="move_base/global_costmap"/>

    <rosparam
        file="$(find amr_navigation)/config/costmap_common.yaml"
        command="load"
        ns="move_base/local_costmap"/>


    <!-- =====================================================
         GLOBAL COSTMAP
         ===================================================== -->

    <rosparam
        file="$(find amr_navigation)/config/global_costmap.yaml"
        command="load"
        ns="move_base/global_costmap"/>


    <!-- =====================================================
         LOCAL COSTMAP
         ===================================================== -->

    <rosparam
        file="$(find amr_navigation)/config/local_costmap.yaml"
        command="load"
        ns="move_base/local_costmap"/>


    <!-- =====================================================
         MOVE BASE
         ===================================================== -->

    <rosparam
        file="$(find amr_navigation)/config/move_base.yaml"
        command="load"
        ns="move_base"/>


    <!-- =====================================================
         DWA
         ===================================================== -->

    <rosparam
        file="$(find amr_navigation)/config/dwa_local_planner.yaml"
        command="load"
        ns="move_base"/>

    


    <node
        pkg="move_base"
        type="move_base"
        name="move_base"
        output="screen">

    </node>

</launch>