<launch>
  <param name="/use_sim_time" value="true" />

  <!-- Target pose and precision parameters (Meters & Degrees) -->
  <arg name="goal_x" default="2.0" />
  <arg name="goal_y" default="0.0" />
  <arg name="goal_yaw" default="0.0" />         <!-- In DEGREES: e.g. 0.0, 90.0, -90.0, 180.0, 270.0 -->
  <arg name="pos_tolerance" default="0.05" />   <!-- 0.05 m = 5 cm precision -->
  <arg name="yaw_tolerance" default="4.0" />    <!-- In DEGREES: 4.0 deg precision -->
  <arg name="max_linear" default="0.35" />      <!-- Linear speed limit (m/s) -->
  <arg name="max_angular" default="0.65" />     <!-- Angular turning limit (rad/s) -->

  <!-- Launch Move-To-Point Node -->
  <node pkg="amr_navigation" type="move_to_point_node.py" name="move_to_point_node" output="screen">
    <param name="goal_x" value="$(arg goal_x)" />
    <param name="goal_y" value="$(arg goal_y)" />
    <param name="goal_yaw" value="$(arg goal_yaw)" />
    <param name="pos_tolerance" value="$(arg pos_tolerance)" />
    <param name="yaw_tolerance" value="$(arg yaw_tolerance)" />
    <param name="max_linear" value="$(arg max_linear)" />
    <param name="max_angular" value="$(arg max_angular)" />
  </node>
</launch>
